
/*========= Color Scheme =========*/

:root {
  --light-color: #E18209;
  --medium-color: #A65305;
  --dark-color: #3F2513;
}

/* Background Colors */
.bg-blk { background-color: black; }
.bg-drk { background-color: var(--dark-color); }
.bg-med { background-color: var(--medium-color); }
.bg-lit { background-color: var(--light-color); }
.bg-wht { background-color: white; }
/* Foreground Colors */
.fg-blk { color: black; }
.fg-drk { color: var(--dark-color); }
.fg-med { color: var(--medium-color); }
.fg-lit { color: var(--light-color); }
.fg-wht { color: white; }

/*=== Unique Items ===*/

nav {
  color: yellow;
}

html {
  border-width: 5px;
  border-style: solid;
  border-color: black;
  background-color: black;
}

header {
  padding: 10px;
}

nav {
  color: inherit;
}

.mobile {
  display: none;
}

.button h3 {
  padding: 8px auto;
}
