
/*========= Color Scheme =========*/

:root { /* 3 colors for entire page */
  --light-color: #E18209;
  --medium-color: #A65305;
  --dark-color: #3F2513;
}

/* Background Colors */
.bg-blk { background-color: black; }
.bg-drk { background-color: var(--dark-color); }
.bg-med { background-color: var(--medium-color); }
.bg-lit { background-color: var(--light-color); }
.bg-wht { background-color: white; }
/* Foreground Colors */
.fg-blk { color: black; }
.fg-drk { color: var(--dark-color); }
.fg-med { color: var(--medium-color); }
.fg-lit { color: var(--light-color); }
.fg-wht { color: white; }

/*=== Unique Items ===*/

html {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav, .logo {
  display: flex;
  flex-directon: row;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 32px;
  font-size: 25px
}

.logo-text {
  font-weight: bold;
}

.logo-text span:nth-child(2) {
  opacity: 0.5;
}


nav a {
  margin: 8px;
  text-decoration: none;
  color: inherit;
}

.mobile {
  display: none;
}

.button h4 {
  font-size: 18px;
  font-family: sans-serif;
  padding: 8px 0;
}


/* Media breaks down below 525 */
